

<div class="card principal">
    <div class="imagem-card">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/5.webp"/>

        <i id="icon" class="bi bi-star-fill"></i> 
        <i id="icon" class="bi bi-star-fill"></i> 
        <i id="icon" class="bi bi-star-fill"></i> 
        <i id="icon" class="bi bi-star-fill"></i> 
        <i id="icon" class="bi bi-star"></i>
           
        <i class="bi bi-instagram insta"></i>
    </div>

    <p class="body-text"><q>
        O Brasil tem posição de destaque em relação ao etanol.
        </q>
    </p>
</div>

