
.body {
    padding: 20px;
    color: var(--wine-cinza-700);
}

.header-usuarios {
    display: flex;
    justify-content: space-between;
}

.header-usuarios button {
    background: transparent;
    border: 0;
    font-size: 24px;
    width: 40px;
}

.icon-button {
    background: transparent;
    border: 0;
    width: 30px;
    font-size: 20px;
}