
<div class="body">
    <div class="title">
        <h1>Carrinho</h1>
    </div>
    
    <div class="body-table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

            <!-- Position Column -->
            <ng-container matColumnDef="produto">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.produto}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="preco">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.preco}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="quantidade">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="subtotal">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.subtotal}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>          
    </div>

    <div class="body-descritivo">
        <div class="card">
            <p class="title-descritivo">Total no carrinho</p>
        </div>
        <div class="card">
            <div class="sub">
              <p style="width: 40%;">Subtotal</p>
              <p style="width: 60%;">R$ 240,00</p>
            </div>

            <hr class="hr-1">

            <div class="entrega">
              <div style="width: 30%;">
                  <p>Entrega</p>
              </div>
              <div style="width: 65%;">
                  <p style="line-height: 3 0px;">Expresso: <strong>R$ 15,00</strong></p>
                  <p style="line-height: 0px;">Entrega para <strong>Cambé, 86183-500</strong></p>
                  
                  <div style="margin-top: 40px;">
                    <label>Calcule o frete:</label>
                    <input style="border-radius: 0px; width: 80%;"  type="text" class="form-control cep-mask" placeholder="Ex.: 00000-000">
                    <button style="margin-top: 5px; width: 40%;">ATUALIZAR</button>
                  </div>
              </div>
            </div>

            <hr class="hr-2">
            
            <div class="total">
              <p style="width: 40%;">Total</p>
              <p style="width: 60%;">R$ 255,00</p>
            </div>
            
            <hr class="hr-3">

            <div class="button-compra">
              <button style="margin-top: 15px; width: 100%;" (click)="pedido()">FINALIZAR COMPRA</button>
            </div>
        </div>
    </div>
</div>