
<div>
    <a href="https://api.whatsapp.com/send?phone=55###########" 
        target="_blank">
        <img  class="whatsapp" src="https://assets.boxloja.pro/shop/img/whatsapp.png" />
    </a>
</div>

<hr>
  
<footer>
<i class="bi bi-instagram"></i>
<i class="bi bi-facebook"></i>
<i class="bi bi-whatsapp"></i>

<div>
    <app-mapa-site></app-mapa-site>
</div>
</footer>

<hr>

<div class="warning">
<p>Beba com responsabilidade. 
    A venda de bebidas alcoólicas é proibida para menores de 18 anos.
    Dirigir sob influência de álcool configura delito, 
    passível de sanção penal.
</p>
</div>

<div class="reserva">
<p class="copyright">&copy; Copyright John Proencio - 2022</p>
</div>