<div class="card principal">
    <img class="card-img-top" src="../../../../assets/images/15026104819_pulenta-rose.jpg" alt="Imagem do vinho">

    <div class="card-body" style="max-height: 137px; background: #D9D9D9;">
        <p class="pais">Argentina</p>
        <h5 class="card-title">Pulenta Rose</h5>

        <div style="display: flex; justify-content: center;">
            <p class="card-text p-bruto">R$ 190,00</p>
            <p class="card-text p-preco">R$ 190,00</p>
        </div>
    </div>

    <div class="off" *ngIf="isOferta">
        <p>Oferta</p>
    </div>
</div>

