  
  <main>  
    <section>
      <div class="carrosel">
        <app-carrocel></app-carrocel>
      </div>
    </section>
  
    <section>
      <h1>PRODUTOS  EM  DESTAQUE</h1>
    </section>
  
    <section>
      <div>
        <app-destaque></app-destaque>
      </div>
    </section>
  
  
    <section>
      <h1 style="margin-top: 80px;">MAIS  VENDIDOS</h1>
    </section>
  
    <section>
      <div>
        <app-mais-vendidos></app-mais-vendidos>
      </div>
    </section>
  
  
  
    <section>
      <h1 style="margin-top: 80px;">COMENTÁRIOS</h1>
    </section>
  
    <section>
      <app-comentarios></app-comentarios>
    </section>
  </main>
  
