<div class="body" *ngIf="empresa">
    <h1>Empresa</h1>

    <div class="card card-empresa">    
        
        <div class="divisor">
            <div class="logo">
                <img src="../../../../assets/images/rosa_preta.jpg"/>
            </div>
    
            <hr width="2" size="150" style="background: #343A40">

            <div class="dados">
                <p> {{ empresa.fantasia != undefined? empresa.fantasia : "--" }} <button><i class="bi bi-pencil-fill"></i></button></p>                
            </div>
        </div>

        <div style="margin-top: 20px;">
            <label>Razão Social</label>
            <p class="dados-empresa"> {{ empresa.social != undefined? empresa.social: "--" }} </p>

            <label>CNPJ/CPF</label>
            <p class="dados-empresa"> {{ empresa.cnpj != undefined? empresa.cnpj : "--" }} </p>

            <label>E-mail</label>
            <p class="dados-empresa"> {{ empresa.email != undefined? empresa.email : "--" }} </p>

            <label>Telefone</label>
            <p class="dados-empresa"> {{ empresa.telefone != undefined? empresa.telefone : "--" }} </p>

            <label>WhatsApp</label>
            <p class="dados-empresa"> {{ empresa.whatsapp != undefined? empresa.whatsapp : "--" }} </p>

            <label>CEP</label>
            <p class="dados-empresa"> {{ empresa.logradouro != undefined? empresa.logradouro.cep : "--" }} </p>

            <label>Rua</label>
            <p class="dados-empresa"> {{ empresa.logradouro != undefined? empresa.logradouro.rua : "--" }} </p>

            <label>Cidade</label>
            <p class="dados-empresa"> {{ empresa.logradouro != undefined? empresa.logradouro.cidade : "--" }} </p>

            <label>Estado</label>
            <p class="dados-empresa"> {{ empresa.logradouro != undefined? empresa.logradouro.estado : "--" }} </p>
        </div>
        
    </div>
</div>

<div *ngIf="!empresa" style="font-size: 16px; color: #343A40; font-weight: 600; margin: 20px;">
    <p>Empresa não encontrada, entre em contato com o administrador.</p>
</div>