<div class="carrosel">
    <app-carrocel></app-carrocel>
</div>

<div class="buscar-card">
    <p style="font-weight: 500; font-size: 16px;">Argentina</p>
    <input class="custom-file-input" placeholder="Buscar" class="buscar">
</div>

<div class="produto-model">
    <app-produto-model></app-produto-model>
    <app-produto-model></app-produto-model>
    <app-produto-model></app-produto-model>
    <app-produto-model></app-produto-model>
    <app-produto-model></app-produto-model>
    <app-produto-model></app-produto-model>
    <app-produto-model></app-produto-model>
    <app-produto-model></app-produto-model>
    <app-produto-model></app-produto-model>
</div>
