.principal {
    width: 18rem;
    text-align: center;
    max-width: 280px;
    border-width: 1px;
    margin: 10px;
    border-color: #FFFFFF;
    margin-bottom: 40px;
}


div:hover {
    border-width: 1px;
	border-color: #C78C19;
}


img {
    max-width: 280px;
    max-height: 280px;
    display: flex;
    margin: 0 auto;
}

.pais {
    color: #495057;
    font-size: 15px;
    margin: 0;
}

h5 {
    color: #343A40;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}

div:hover h5 {
    font-size: 18px;
}


.p-preco {
    margin-left: 15px;
    color: #0A3871;
    font-weight: bold;
}

.p-bruto {
    margin-left: 15px;
    color: #609ED4;
    text-decoration: line-through;
}

.off {
    background:#052051;
    width: 66;
    height: 49;

    position:absolute;
    right: 0;

    top:10px;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
}

p {
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    color: #FFFFFF;
}

button {
    background: #343A40;
    color: #FFFFFF;
    font-weight: 700;
    height: 33px;
    border: #343A40;
    width: 100%;
}

.button-div {
    display: flex;
    margin: 0 auto;  
    width: 100px;
    margin-bottom: 10px;
}
