
.center {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
}

button {
    border-color: transparent;
    background: transparent;
    color: #343A40;
}