<div class="principal">
    <div class="maps">
        <h3>Categorias</h3>
        <button>Tipo</button>
        <button>País</button>
        <button>Uva</button>
        <button>Acessórios</button>
        <button>Combo</button>
    </div>
    
    <div class="maps">
        <h3>Institucional</h3>
        <button>Todos os Produtos</button>
        <button>Sobre a **EMPRESA**</button>
        <button>Política de Entrega e Frete</button>
        <button>Trocas e Devoluções</button>
        <button>Política de Privacidade</button>
    </div>

    <div class="maps">
        <h3>Dúvidas</h3>
        <button>Principais Dúvidas</button>
        <button>Embalagem</button>
        <button>Transporte</button>
    </div>

    <div class="maps">
        <h3>Contato</h3>
        <p style="margin-left: 5px;"><strong>Email: </strong> contato@contato.com.br</p>
    </div>
</div>



