<div class="body">
    <div class="title">
        <h1>Faturamento & Entrega</h1>
    </div>

        

    <div class="card" style="width: 80%; display: flex; margin: 0 auto; margin-bottom: 40px; border-radius: 0px;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; box-shadow: 0px 0px 0px #FFFFFF;">

            <!-- Position Column -->
            <ng-container matColumnDef="produto">
              <th mat-header-cell *matHeaderCellDef> Produto </th>
              <td mat-cell *matCellDef="let element"> {{element.produto}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="quantidade">
              <th mat-header-cell *matHeaderCellDef> Quantidade </th>
              <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.quantidade}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="subtotal">
              <th mat-header-cell *matHeaderCellDef> Subtotal </th>
              <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.subtotal}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>   
    </div>

    <div style="display: flex; justify-content: space-between; width: 90%; margin: 0 auto;">
        <div class="" style="width: 100%; padding: 20px;">
            <p class="cabecalho">Entrega</p>
            <hr style="margin-top: 30px;">


            <div class="card" style="width: 95%; display: flex; margin: 0 auto; padding: 10px; background: #F3F5FC; border-radius: 0px; line-height: 3px; font-size: 12px;">
                <p>Endereço de entrega: <strong>Casa</strong></p>
                <p>Cep: 86183-500</p>
                <p>Rua: Fernando Bissoqui,  1783</p>
                <p>Ana Rosa - Cambé, PR</p>
                <p>Destinatário: John Proencio Martins Vieira</p>
                
                <hr>

                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <p>Entrega normal: R$ 5,99</p>
                        <p>Prazo de entrega: em até 6 dias úteis</p>
                    </div>
                    <div>
                        <button class="alterar">Alterar</button>
                    </div>
                </div>
            </div>

            <!-- <div>
                <input type="text" name="" id="" placeholder="* Nome">
                <input type="text" name="" id="" placeholder="* CPF">
                <input type="text" name="" id="" placeholder="* WhatsApp">
                <input type="text" name="" id="" placeholder="* Endereço de e-mail">
                
                <p>Brasil</p>
                <input type="text" name="" id="" placeholder="* CEP">
                <input type="text" name="" id="" placeholder="* Rua">
                <input type="text" name="" id="" placeholder="* Numero">
                <input type="text" name="" id="" placeholder="* Observações">
                <input type="text" name="" id="" placeholder="* Bairro">
                <input type="text" name="" id="" placeholder="* Cidade">
                <input type="text" name="" id="" placeholder="* Estado">
                <input type="text" name="" id="" placeholder="* ">
            </div>

            <div>
                <p class="cabecalho">Informação adicional</p>
                <hr>
                <textarea type="text" name="" id="" placeholder="* Informações importantes sobre a entrega."></textarea>
            </div> -->

        </div>
        <div class="card" style="width: 70%; padding: 20px; border-radius: 0px;">
            <p class="cabecalho">Faturamento</p>
            <hr>

            

            <div class="card" style="display: flex; width: 99%; margin: 0 auto; border-radius: 0px;">
                <div style="display: flex; padding-top: 25px; padding-left: 25px;">
                    <p style="width: 40%;">Subtotal</p>
                    <p style="width: 60%;">R$ 240,00</p>
                </div>

                <hr style="width: 90%; display: flex; margin: 0 auto;">

                <div style="display: flex; padding-top: 25px; padding-left: 25px;">
                    <p style="width: 40%;">Desconto</p>
                    <p style="width: 60%;">R$ 40,00</p>
                </div>

                <hr style="width: 90%; display: flex; margin: 0 auto;">

                <div style="display: flex; padding-top: 25px; padding-left: 25px;">
                    <p style="width: 40%;">Total</p>
                    <p style="width: 60%;">R$ 200,00</p>
                </div>

            </div>

            <div style="display: flex; width: 90%; margin: 0 auto; margin-top: 15px; font-weight: 600; color: #343A40;">
                <input type="checkbox" style="margin-right: 5px;">
                <label style="">Li e concordo com o(s) <strong><a href="" style="color: #343A40; font-weight: bold;">termos e condições</a></strong> do site <label style="color: red;">*</label></label>
            </div>

            <div style="width: 100%; display: flex; margin: 0 auto;">
                <button style="width: 100%;">Finalizar Pedido</button>
            </div>
        </div>
    </div>

</div>