<!-- <header>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div>
        <img src="../assets/images/phpKuwq1e1610577772.png">
      </div>
      
      <div class="menu">
        <button mat-button (click)="home()">Home</button>
  
        <button mat-button [matMenuTriggerFor]="pais">País <i class="bi bi-chevron-down"></i></button>
        <mat-menu #pais="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="vale">Vale</button>
        </mat-menu>
  
        <mat-menu #vale="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="fish">Mendonza</button>
        </mat-menu>
  
        <mat-menu #fish="matMenu">
          <button mat-menu-item>Baikal oilfish</button>
        </mat-menu>
  
        <button mat-button (click)="produtos()">Tipo</button>
        <button mat-button>Uva</button>
        <button mat-button>Acessórios</button>
        <button mat-button>Combo</button>
        <button mat-button>Curso</button>
      </div>
  
      <div class="buscar">
        <input class="custom-file-input" placeholder="Buscar">
        
      </div>
  
      <div class="total">
        <mat-card class="total">
          <button (click)="sacola()">R$ 500,00</button>
        </mat-card>
      </div>
  
      <div class="sacola">
        <i class="bi bi-bag-fill" style="font-size: 22px;"></i>
      </div>
  
    </div>
  </header> -->

  <header>
    <div class="menu">
      <div class="navbar navbar-expand navbar-dark bg-dark px-2 body-menu">
        <div class="side-nav-button p-2 me-3 text-light">
            <!-- <i class="fa-solid fa-bars"></i> -->
            <i class="bi bi-list" (click)="menu()"></i>
        </div>
        
        <a class="navbar-brand px-4" href="#">
            Pinot Wine
        </a>
        
        <a class="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown">
                Menu 1
              </a>
  
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Child 1</a></li>
                <li><a class="dropdown-item" href="#">Child 2</a></li>
                <li><a class="dropdown-item" href="#">Child 3</a></li>
              </ul>
            </li>
          </ul>
          
  
        </a> 
      </div>
    </div>

    <!-- <div class="container-fluid g-0">
      <main class="main-menu">
        <div class="body-main">

        </div>
      </main>
    </div> -->
       
  </header>
